* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    height: 100vh;
    /* text-align: center; */
}

.header {
    padding: 0 60px;
    height: 80px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.logo img {
    height: 45px;
    border-radius: 8px;

}

.header a, ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: inherit;
    list-style-type: none;
}

a:hover {
  transform: scale(1.1);
}

.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    background-color: #1F2937;
    color: #E5E7EB;
    gap: 0;
    flex-wrap: wrap;
}

.hero-content {
    width: 450px;
    margin-right: -50px;
}

.button {
    padding: 5px 8px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.hero-section img {
    height: 300px;
    width: 400px;
}

.hero-section p {
    line-height: 1.2;
    font-size: 18px;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
}

.item img {
    width: 250px;
    min-height: 150px;
    margin: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.quote {
    background-color: #E5E7EB;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.italic {
    width: 760px;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.steve {
    margin-top: 0;
    padding-top: 0;
    padding-left: 400px;
    font-weight: 800;
    font-size: 18px;
    text-align: end;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 760px;
    gap: 20px;
    padding: 40px;
    background-color: #3882F6;
    border-radius: 10px;
}

.think {
    background-color: #3882F6;
    color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    height: 80px;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}